* {
    font-family: monospace;
    font-size: 16px;
    color: #ffffff;
}

window#waybar {
    background: #000000;
    border: none;
    padding: 0;
}

/*
white   #ffffff (255,255,255)
blue    #4285f4	(66,133,244)
red     #ea4335	(234,67,53)
yellow  #fbbc05	(251,188,5)
green   #34a853	(52,168,83)
purple  #673ab7	(103,58,183)
*/

#window,
#workspaces,
#network,
#backlight,
#pulseaudio,
#temperature,
#cpu,
#memory,
#disk,
#battery,
#clock {
    padding: 4px;
    margin: 0;
    border: none;
    border-radius: 0;
}

/* Workspaces */
#workspaces button {
    border: none;
    margin: 0;
    border-radius: 0;
}

#workspaces button.focused {
    background: #222222;
}

#battery.charging {
    color: #4285f4;
}

#temperature.cold {
    color: #4285f4;
}

/* Normal status */
#battery:not(.charging):not(.warning):not(.critical),
#temperature {
    color: #34a853;
}

/* Warning states */
#temperature.warning,
#battery.warning {
    color: #fbbc05;
}

/* Critical states */
#battery.critical,
#temperature.critical {
    color: #ea4335;
}

/* Optional: blink for critical status (can be removed for more minimal look) */
@keyframes blink-critical {
    50% {
        opacity: 0.5;
    }
}
